body {
	height: 100%;
}

#outerBox {
	width: auto;
	min-height: 100%;
	margin-left: 20%;
	margin-right: 20%;
	overflow: auto;
	text-align: center;
	margin-bottom: 5%;
}

/******************************

	Logo + Navbar

*******************************/

#upperBox {
	width: 100%;
	margin-bottom: 3%;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#placeholder-image {
	margin: auto;
	width: 50%;
	height: 90%;
	display: inline-flex;
	justify-content: center;
}

#placeholder-image a img {
	max-width: 100%;
	max-height: 100%;
}

#navbar {
	width: 100%;
	height: 10%;
	color: white;
	font-size: 25px;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}

#navbar ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-direction: row;
}

#navbar li {
	flex: 0 0 20%;
}

#navbar a {
	flex: 0 0 20%;
	white-space: nowrap;
	margin-left: auto;
	margin-right: auto;
}








#contentOuterBox {
	background-color: #FFFFFF;
	padding-bottom: 5%;
	margin-top: 2%;
	position: relative;
}

h1 {
	padding-top: 2%;
	margin-top: 0;
	font-family: 'Oswald Light';
	font-size: 50px;
}

.image-replacement {
	/*background-color: aqua;*/
	background-image: url('https://anniversaire-celebrite.com/upload/250x333/achille-talon-250.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}


/******************************

	Articles

*******************************/

#main-article-image {
	height: 645px;
}

.main-article {
	height: 645px;
	width: auto;
	margin-left: 50px;
	margin-right: 50px;
}

.article {
	height: 350px;
	margin: 10%;
	/*background-color: cadetblue;*/
	display: flex;
	flex-direction: column;
	text-align: left;
}

.articlesDiv {
	width: auto;
	/*background-color: chocolate;*/
	margin-left: 50px;
	margin-right: 50px;
}

.articles {
	width: 100%;
}

.image-article {
	width: 100%;
	height: 70%;
	padding-bottom: 30px;
	background-image: url('https://i.imgur.com/ere91Fy.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.article h1{
	font-family: 'Oswald Light';
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 20px;
	padding: 0;
}

.article #content span{
	float: left;
	padding: 0;
	font-size: 13px;
}

.article #content #vertical-bar {
	width: 4px;
	height: 90%;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10%;
	background-color: red;
}

.article #content {
	display: inline-flex;
	text-align: left;
}


/******************************

	Footer

*******************************/

.black_square {
  width: 60%;
  height: auto;
  background-color: #1E1A1B;
  padding: 0px;
  margin-left: 20.25%;
  margin-top: 2%;
  margin-bottom: 2%;
  position:relative;
}


.black_square table{
  padding-top: 5%;
  padding-bottom: 5%;
  border-spacing: 30px 0px;
}


.logoSeamkBlanc {
  width:90%;
  margin-left: 60%
}

.logoBstrBlanc {
  width:30%;
  margin-left: 45%
}



.black_bottom{
	overflow: hidden;
	width: 100%;
	height: auto;
	background-color: #1E1A1B;
	padding-bottom: 0%;
	margin-bottom: 0%;
	bottom: 0;
	position: relative;
}

.black_bottom p{
	font-size: 9px;
	color: grey;
	margin-left: 46.5%;
}

@media (max-width: 1000px) {
	#navbar a {
		flex: 0 0 25%;
	}
}