
@font-face {
	font-family: "Oswald-Light";
	src:"Oswald-Light.ttf";
}

body {
    background-color : #ab2b32
}

.header {
    font-family: 'Oswald', Light;
    text-align: center;
    color: white;
    margin-left: 12%;
    margin-top: 2%;
    font-size: 20px;
}

.logofb {
	margin-left: 17%;
	margin-top: 7px;
	height:26px;
	width: 26px;
	background-image: url("fbblanc.png");
}

.logofb:hover {
	background-image: url("fbcouleur.png");
}

.logoinsta {
	margin-left: 1%;
	margin-top: 7px;
	height:26px;
	width: 26px;
	background-image: url("instablanc.png");
}

.logoinsta:hover {
	background-image: url("instacouleur.png");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    margin-left: 7%;
}

.logo {
    margin-left: 30%;
    margin-top: 6%;
    position: absolute;
    width:40%;

}


